<%- include ('partials/header') %>

<div class = "container">
	<div class = "row">
		<div class = "col-md-12" align="center">
			<h1 class="display-2">Jewelry # <%=lot%></h1>	
		</div>
		<div class = "col-md-6">
			<h1 class="display-2">Image</h1>
			<img class = "img-responsive" src = "<%= media.imageUrl %>" onerror="this.style.display='none'">
		</div>
		<div class = "col-md-6">
			<h1 class="display-2">Video</h1>
			<video width="100%" height="100%" class = "video-fluid" src="<%= media.videoUrl %>" type="video/mp4" autoplay loop controls muted onerror="this.style.display='none'">
			</video>
		</div>	
		
		<div class = "col-md-12" align="center">
			<h1 class="display-2">Certificate</h1>
			<% if (cert && cert.source && cert.source !== 'blob-fallback' && cert.source !== 'invalid-lot') { %>
				<div class="embed-responsive" style="padding-bottom: 100%;">
					<iframe src="<%= cert.certUrl %>" onerror="this.style.display='none'"></iframe>
				</div>
				<p>Cert #: <%= cert.certNumber %></p>
				<p>Lab: <%= cert.lab %></p>
			<% } else { %>
				<p>Certificate is unavailable for this item.</p>
			<% } %>
		</div>

		<% if (details && details.length) { %>
		<div class = "col-md-12" align="center">
			<h2>Additional Details (SQL fallback)</h2>
			<pre><%= JSON.stringify(details, null, 2) %></pre>
		</div>
		<% } %>
	</div>
</div>


<%- include ('partials/footer') %>